.card m-3 {
    height: 10px;
    width: 10px;

}
 /*.card-img-top
{
    height: 400px;
    width: 662px;
}*/

 .btn{
     width: 75px;
 }

.imagesThumbnail {
    height: 200px;
    width: auto;
}
.row .col-md-4 {
    max-width: 33.33%;
}

.navbar-right {
   
  
    top: 0;
    right: 0;
}
.ml-auto {
    margin-left: auto !important;
}

.three-d-effect {
    perspective: 1000px;
    transform-style: preserve-3d;
    background-image: url('/Images/bg.jfif');
    background-size: cover;
    background-position: center center;
}

.background-element{
    z-index: -1;
}

.image-container {
    max-width: 100%;
    height: auto;
    position: relative;
}
    .image-container img {
        transition: transform 0.3s ease-in-out;
    }

    .image-container:hover img {
        transform: scale(1.2);
    }

.card {
   
}
.mySlides {
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

img {
    width: 100%;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-300%);
    }
}