@{
    ViewBag.Title = "Checkout";
    var price = ViewBag.Price;
    var children = ViewBag.Children;
    var adults = ViewBag.adults;
    var email = ViewBag.email;
    Random random = new Random();
    int txt = random.Next(1000000000);
}


<form id="myForm" method="post" action="https://api.chapa.co/v1/hosted/pay">
    <!-- Form fields for Controller1 -->
    <input type="hidden" name="public_key" value="CHAPUBK_TEST-Mpe16MZX2bryKlbVFCTVOMI53Ha1stn1" />
    <input type="hidden" name="tx_ref" value="negade-tx-@txt" />
    <input type="hidden" name="amount" value="@price" />
    <input type="hidden" name="currency" value="ETB" />
    <input type="hidden" name="email" value="@email" />
    <input type="hidden" name="first_name" value="@email" />
    <input type="hidden" name="last_name" value="@email" />
    <input type="hidden" name="title" value="Book Cinema" />
    <input type="hidden" name="description" value="Book a ticket" />
    <input type="hidden" name="logo" value="https://chapa.link/asset/images/chapa_swirl.svg" />
    <input type="hidden" name="callback_url" value="https://localhost:44378/success/Success" />
    <input type="hidden" name="return_url" value="https://localhost:44378/success/Success" />
    <input type="hidden" name="meta[title]" value="test" />


    <h1 style=" font-size: 48px;
      text-align: center;
color: darkgray">
        Waiting for Chapa, please wait...
    </h1>

   
</form>

<script>
    window.addEventListener('DOMContentLoaded', function () {
        document.getElementById('myForm').submit();
    });
</script>