<!--<?xml version="1.0"  encoding ="utf-8" ?>
<nlog xmlns =" "https://www.nlog-project.org/schemas/NLod.xsd"
xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance">

--><!--the targets to write to--><!--

<targets>

	--><!--write logs to file--><!--
	<target name="allfile" xsi:type="File"
			fileName="c:\DemoLogs\nlog-all-${shortdate}.log"/>
</targets>
			

--><!--rukes to map from logger name to target--><!--
<rules>
	--><!--All logs, including from Microsoft--><!--
	<logger name="*" minlevel="Trace" writeTo="allfile"/>
</rules>-->
	
